#!/bin/bash
[ -f .env ] && source .env

# export S3_INPUT_PATH="s3://nesta-ds-projects/<MISSION OR PRACTICE>/<PROJECT NAME>"

# Activate the conda environment
(conda shell.bash activate "{{ cookiecutter.repo_name }}" &> /dev/null) \
 || echo "Couldn't find project Conda environment, have you run \`make install\`?"