#!/bin/bash
[ -f .env ] && source .env


export BUCKET="{{ cookiecutter.s3_bucket }}"
export METAFLOW_PROFILE=ds-cookiecutter

# Automatically activate conda environment (if exists)
if [ -f .cookiecutter/state/conda-create ];
then
    # shellcheck disable=SC1091
    [ -n "$CONDA_EXE" ] \
    && . "$(dirname "$(dirname "$CONDA_EXE")")/etc/profile.d/conda.sh" \
    && conda activate "{{ cookiecutter.repo_name }}" > /dev/null 2>&1  \
    || echo "WARNING: {{ cookiecutter.repo_name }} environment could not be automatically activated.";
fi
