#!/bin/bash
[ -f .env ] && source .env

# export S3_INPUT_PATH="s3://nesta-ds-data/<MISSION OR PRACTICE>/<PROJECT NAME>"

# shellcheck disable=SC1091
[ -n "$CONDA_EXE" ] \
&& . "$(dirname "$(dirname "$CONDA_EXE")")/etc/profile.d/conda.sh" \
&& conda activate "{{ cookiecutter.repo_name }}" > /dev/null 2>&1  \
|| echo "WARNING: {{ cookiecutter.repo_name }} environment could not be\
 automatically activated, you may need to create it with \`make install\`.";
