code {
  /* --md-code-fg-color: var(--md-primary-fg-color); */
  --md-code-fg-color: var(--md-code-hl-number-color);
}

.highlight code {
  --md-code-fg-color: var(--md-code-fg-color);
}

/* Class for ascii cinema */
img.ascii {
  height: 40vh;
  min-height: 20em;
  width: auto;
  /* Center... */
  margin-left: auto;
  margin-right: auto;
  display: block;
} 
