#!/bin/bash
# MAKE EDITS TO .ENV INSTEAD
# `unset UV_INDEX` is enabled by default to avoid polluting uv.lock with private indices.
# If you need to use a private index in this project, comment out the next line.
unset UV_INDEX
[ -f .env ] && source .env
