#!/bin/bash
# MAKE EDITS TO .ENV INSTEAD
[ -f .env ] && source .env{% if cookiecutter.autosetup == "yes" %}

{% if cookiecutter.venv_type in ['venv', 'uv'] -%}
source .venv/bin/activate
{%- elif cookiecutter.venv_type == 'conda' -%}
eval "$(conda shell.bash hook)"
conda activate {{ cookiecutter.module_name }}
{%- endif %}{%- endif %}
