.recipes/
.cookiecutter/state/

# Nesta specific
research_daps/
*.key

# Report
*.aux
*.bbl
*.blg

# Metaflow
.metaflow
metaflow.s3.*
.run_id

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Distribution / packaging
.Python
env/
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg

# PyInstaller
#  Usually these files are written by a python script from a template
#  before PyInstaller builds the exe, so as to inject date/other infos into it.
*.manifest
*.spec

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
htmlcov/
.tox/
.nox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
*.py,cover
.hypothesis/
.pytest_cache/
cover/

# Translations
*.mo
*.pot

# Django stuff:/
*.log

# Sphinx documentation
docs/_build/

# PyBuilder
target/

# configuration
.env
.config
*.config

# Database
*.db
*.rdb

# Pycharm
.idea

# VS Code
.vscode/

# Spyder
.spyproject/

# Jupyter NB Checkpoints
.ipynb_checkpoints/

# exclude /outputs/data except top-level markdown
/outputs/data/*
!/outputs/data/*.md
/outputs/models/*
!/outputs/models/*.md

# Mac OS-specific storage files
.DS_Store

# vim
*.swp
*.swo
*~

# ruff cache
.ruff_cache/

# NPM
node_modules/

# Virtual environments
.venv/

# R specific files
.Rhistory
.Rapp.history
.RData
.Ruserdata
.Rproj.user/
*.utf8.md
*.knit.md
.Renviron
